/* barvy */
:root {
	--svetla: #edf3f5;
	--seda: #b2bec3;
	--tmava: #636e72;
	--oranzova: #ee5a24;
	--cervena: #ea2027;
	--zluta: #f79f1f;
	--zelena: #a3cb38;
	--limetka: #c4e538;
}

/* nejsme včerejší, používáme moderní box model */
html {
	box-sizing: border-box;
}

*,
:after,
:before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 30px;
	font-family: 'Alice', serif;
	font-size: 18px;
	line-height: 1.5;
	/*max-width: 1500px;*/
}

h1,
h2,
h3 {
	font-family: 'Kaushan Script', cursive;
	font-weight: normal;
	margin: 0;
}

blockquote {
	font-family: 'Kaushan Script', cursive;
}

/* --------------------------------------------------- */

.blog {
	display: grid;
	grid-template-columns: 1fr 4fr 2fr;
	column-gap: 40px;
	width: 100%;
	/*max-width: 1500px;*/
}

.blog > * {
	grid-column: 2;
}

.blog > figure {
	grid-column: 1 / -1;
	margin: 0;
}



/*
figure,
blockquote {
	grid-column: 1 / -1;
	width: 100%;
	margin: 0;
}*/

figure img {
	width: 100%;
}

.tip-vlevo {
	grid-column: 1;
	padding: 10px;
	margin: 0;
}

.tip-vpravo {
	grid-column: 3;
}

/*
figure > img, 
figure > figcaption,
blockquote {
	max-width: 100%;
	margin: 0;
}*/



/*
header,
.blog > p,
h2,
footer {
	grid-column: 2;
}



figure,
blockquote {
	margin: 0;
}
*/

.tip-vlevo img {
	width: 150px;
	height: auto;
}







